<h1>Discounts!</h1>

<% @discounts.each do |discount| %>
<div id="id-<%= discount.id %>">
  <p>Discount: <%= (discount.discount * 100).round(2) %>%, Item Threshold: <%= discount.threshold %> <%= link_to 'Discount Details', merchant_bulk_discount_path(@merchant, discount) %>
  <%= link_to 'Delete Discount', merchant_bulk_discount_path(@merchant, discount), method: :delete %></p>
  </div>
<% end %>

<%= link_to  "New Discount", new_merchant_bulk_discount_path(@merchant) %>

<div id="holidays">
<% @upcoming_holidays.holiday_information[0..2].each do |holiday| %>
  <p><%= holiday.name %>: <%= holiday.date %></p>
<% end %>
</div >




